:host {
    display: block;
    padding: 1em;

    p {
        font-size: 1.2em;
        font-weight: 600;
    }

    ul {
        margin-top: 1em;
        list-style-type: none;

        li {
            height: 30px;

            &>span {
                &.active {
                    color: #23A9F2;
                }

                &:hover {
                    cursor: pointer;
                    color: orange;
                }

                &>.title {
                    font-weight: 600;
                }
            }

            .byz-icon {
                margin-left: 1.5em;
            }
        }
    }
}