<div class="container">
    <div class="navbar">
        <!--基础组件演示-->
        <p class="title" routerLink="/">动态应用演示</p>
        <a class="nav" routerLink="/mirror/dynamic/student_list" routerLinkActive="active">学生列表</a>
        <a class="nav" routerLink="/mirror/dynamic/student_list/123" [queryParams]='{name:"Leon",age:18}'
            routerLinkActive="active">学生列表[带参数]</a>
        <a class="nav" routerLink="/test" routerLinkActive="active">测试</a>
        <p class="title" routerLink="/">调试</p>
        <a class="nav" (click)='gotoPreview()'>PREVIEW模式</a>
        <a class="nav" (click)='cancelPreview()'>取消PREVIEW</a>
        <a class="nav" (click)='showSimulator=true'>打开Simulator</a>
    </div>
    <app-simulator [class.active]='showSimulator' (close)='showSimulator=false'></app-simulator>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>